body {
  height: 100%;
  margin: 0;
  width: 100%;
  color: black;
  background-color: white;
}

h2 {
  font-size: 32px;
  font-family: Georga;
  font-weight: bold;
  text-align: center;
}

.test-bold {
  font-weight: bold;
}

.test-2 {
  text-align: center;
}

.objective {
  display: flex;
  flex-direction: wrap;
  border: 1px solid black;
}

.experience {
  display: flex;
  flex-direction: wrap;
  border: 1px solid black;
  text-align: left;
}

.technical {
  display: flex;
  flex-direction: wrap;
  border: 1px solid black;
  text-align: right;  
}

.education {
  display: flex;
  flex-direction: wrap;
  border: 1px solid black;
  text-align: center;  
}
