body {
  height: 100%;
  margin: 1;
  width: 100%;
  color: black;
  background-color: white;
  border: 1px solid powderblue;
  padding: 30px;
}

h2 {
  font-size: 32px;
  font-family: Georga;
  font-weight: bold;
  text-align: center;
  color: red;
}

.test-bold {
  font-weight: bold;
}

.test-2 {
  text-align: center;
}

